.title-main {
  font-family: jangkui, serif;
  font-weight: bold;
  text-align: center;
  color: #1C2D46;
}

@font-face {
  font-family: jangkui;
  src: url("~@/assets/fonts/JANGKUY-RegularExpanded.otf");
}
@font-face {
  font-family: jangkui;
  src: url("~@/assets/fonts/JANGKUY-BoldExpanded.otf");
  font-weight: bold;
}
@font-face {
  font-family: atsurt;
  src: url("~@/assets/fonts/AT_Surt_Exp.otf");
}
@font-face {
  font-family: atsurt;
  src: url("~@/assets/fonts/AT_Surt_Bold_Exp.otf");
  font-weight: bold;
}

.v-btn {
  background-color: #f5c02d !important;
  color: #1C2D46 !important;
  border-radius: 20px;
}

body {
  color: #1C2D46 !important;
}

p {
  font-size: 4vw;
  color: #1C2D46;
  font-family: atsurt;
}

