.title-main {
  font-family: jangkui, serif;
  font-weight: bold;
  text-align: center;
}

@font-face {
  font-family: jangkui;
  src: url("~@/assets/fonts/JANGKUY-RegularExpanded.otf");
}
@font-face {
  font-family: jangkui;
  src: url("~@/assets/fonts/JANGKUY-BoldExpanded.otf");
  font-weight: bold;
}

